<script type="text/javascript">
// The script below is essentially that from the Boutiqte Ado walkthrough


    // Disable +/- buttons outside 1-15 range
    function enableDisableHandler(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 15;
        $(`#decrease-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increase-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Enabling/disabling inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        enableDisableHandler(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        enableDisableHandler(itemId);
    });

    // Increase quantity
    $('.increase-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue + 1);
       var itemId = $(this).data('item_id');
       enableDisableHandler(itemId);
    });

    // Decrease quantity
    $('.decrease-qty').click(function(e) {
       e.preventDefault();
       var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentValue = parseInt($(closestInput).val());
       $(closestInput).val(currentValue - 1);
       var itemId = $(this).data('item_id');
       enableDisableHandler(itemId);
    });
</script>