{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if cart_items %}
  <div class="row">
    <div class="col-lg-12 text-center mt-3 mb-3">
      <h1>Your shopping cart</h1>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-6">
        <h2>Items:</h2>
        {% for item in cart_items %}
          <div class="card card-wide">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center text-uppercase">Course: {{ item.course.title }} </li>
              <li class="list-group-item">Level: {{ item.course.level }} </li>
              <li class="list-group-item">Price: {{ item.course.price }} </li>
              <li class="list-group-item">Quantity: {{ item.qty }} </li>
            </ul>
          </div>
          <br>
          <br>
        {% endfor %}
      </div>
      <div class="col-lg-6">
          <h2 class="text-center">Your order total:</h2>
          <br>
          <h3 class="text-center"> £{{ total }}</h3>
      </div>
    </div>

    <div class="col-md-12 text-center mb-5 mt-1">
        <a class="btn btn-primary btn-lg mr-1" href="#">GO TO CHECKOUT</a>
        <a class="btn btn-outline-primary btn-lg ml-1"href="{% url 'course_list' %}">Continue shopping</a>
    </div>
  {% else %}
    <div>
      <h1 class="col-md-12 text-center mt-5">Mo chreach! Your cart is empty.</h1>
    </div>
    <div class="col-md-12 text-center mb-5 mt-1">
      <a class="btn btn-primary btn-lg"href="{% url 'course_list' %}">Continue shopping</a>
    </div>
  {% endif %}



{% endblock content %}