{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if cart_items %}
  <div class="row">
    <div class="col-md-12 text-center mt-3 mb-3">
      <h1>Your shopping cart</h1>
    </div>
  </div>
  {% for item in cart_items %}
    <div class="row">
      <div class="col-md-6">
          <div class="card card-wide">
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-center text-uppercase">Course: {{ item.course.title }} </li>
              <li class="list-group-item">Level: {{ item.course.level }} </li>
              <li class="list-group-item">Price: {{ item.course.price }} </li>
            </ul>
          </div>
          <br>
          <br>
      </div>
      <div class="col-md-6">
        <form class="form update-form" action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                  <button class="drecrease-qty btn"
                      data-item_id="{{ item.item_id }}" id="decrease-qty_{{ item.item_id }}">
                      <span>
                          <i class="fas fa-minus"></i>
                      </span>
                  </button>
              </div>
              <input class="form-control qty_input" type="number" 
              name="qty" value="{{ item.qty }}" min="1" max="15" 
              data-item_id="{{ item.item_id }}" 
              id="id_qty_{{ item.item_id }}">
              <div class="input-group-append">
                  <button class="increase-qty btn"
                      data-item_id="{{ item.item_id }}" id="increase-qty_{{ item.item_id }}">
                      <span>
                          <i class="fas fa-plus"></i>
                      </span>
                  </button>
              </div>
          </div>
        </form>
        <a class="update-link text-info"><small>Update</small></a>
        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
      </div>
    </div>
    {% endfor %}


      <div class="col-md-12 text-center mt-1 mb-1">
          <h2 class="text-center">Your order total:</h2>
          <h3 class="text-center"> £{{ total }}</h3>
      </div>

      <div class="col-md-12 text-center mb-5 mt-1">
          <a class="btn btn-primary btn-lg mr-1" href="#">GO TO CHECKOUT</a>
          <a class="btn btn-outline-primary btn-lg ml-1"href="{% url 'course_list' %}">Continue shopping</a>
      </div>
  

  {% else %}
    <div>
      <h1 class="col-md-12 text-center mt-5">Mo chreach! Your cart is empty.</h1>
    </div>
    <div class="col-md-12 text-center mb-5 mt-1">
      <a class="btn btn-primary btn-lg"href="{% url 'course_list' %}">Continue shopping</a>
    </div>
  {% endif %}



{% endblock content %}

{% block postloadjs %}
{{ block.super }}
{% include 'courses/includes/qty_change_script.html' %}

<script type="text/javascript">
// Based on logic from Boutique Ado walkthrough project
  // Update quantity on click event
  $('.update-link').click(function(e) {
      var form = $(this).prev('.update-form');
      form.submit();
  })

  // Remove item / reload on click event
  $('.remove-item').click(function(e) {
      var csrfToken = "{{ csrf_token }}";
      var itemId = $(this).attr('id').split('remove_')[1];
      var url = `/cart/remove/${itemId}`;
      var data = {'csrfmiddlewaretoken': csrfToken};

      $.post(url, data)
       .done(function() {
           location.reload();
       });
  })
</script>
{% endblock %}