h2 {
    color: blue;
}


.card-wide {
    width: 100%;
}

/* cart +/- btns */

.update-link,
.remove-item {
    cursor: pointer;
}

/* PLACEHOLDER COPIED CSS FROM PROJECT MAKE SURE TO CHANGE */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/********************************************/
