{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-8 offset-2 page-heading mt-5 mb-5">
            <h2 class="text-center text-uppercase mt-4 mb-4 int-header">Contact</h2>
        </div>
    </div>

    <div class="text-center">
        <h5>For all enquiries, please contact us via email at: <strong> 
            rossclarkscotland@gmail.com</strong></h5>
        <br>
        <h5>We'll be delighted to hear from you!</h5>
    </div>


{% endblock %}