{% extends "base.html" %}
{% load static %}


{% block content %}
    <header class="row">
        <div class="col-8 offset-2 page-heading mt-5">
            <h2 class="text-center text-uppercase mt-4 mb-4">Edit course</h2>
        </div>
    </header>
    <div class="text-center">
        <a class="btn btn-danger btn-action font-weight-bold mb-5 mt-4" href="{% url 'course_list' %}">Cancel</a>
    </div>

    <div class="row">
        <div class="col-8 offset-2">
            <form method="POST" action="{% url 'edit_course' course.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-center">
                    <button class="btn-primary btn-action rounded font-weight-bold mt-3" type="submit">Edit course</button>
                </div>
            </form>
        </div>            
    </div>
{% endblock %}