{% extends 'base.html' %}

{% block title %}Locations{% endblock title %}

{% block content %}

  <header class="row">
    <div class="col-8 offset-2 page-heading mt-5">
        <h2 class="text-center text-uppercase mt-4 mb-4">Our locations</h2>
    </div>
  </header>

  <section class="container">
    <div class="row">
      {% for location in location_list %}
          <div class="col-sm-12 col-md-4 mb-2">
            <div class="card text-center text-uppercase mt-5">
              {% if location.image %}
                <img class="card-img-top" src="{{ location.image.url }}" alt="Location image cap">
              {% endif %}
              <div class="card-body">
                <h5 class="card-title text-dark list-text-box">{{ location.name }}</h5>
                <hr>
                <a href="{{ location.get_absolute_url }}" class="btn btn-primary btn-action rounded">more</a>
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
  </section>

{% endblock content %}